{% extends 'base.html' %}
{% block title %}Your ToDo list {% endblock %}
{% block body %}

<script>
	function toggle(box) {
		id = $(box).data('id');
		if ($(box).is(':checked'))
			jQuery.post('/mark/' + id);
		else 
			jQuery.post('/unmark/' + id);
	}
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">ToDo ({{list_id}}){% if title %}: {{title}}{% else %}
        {% endif %}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Done</th>
            <th>Todo</th>
            <th>Erase</th>
        </tr>
        {% for item in todo %}
        <tr>
            <td>{{loop.index}}</td>
            <td><input type="checkbox" onclick="toggle(this);" data-id="{{item[2]}}" {% if item[1] %}checked=""{% endif %} /></td>
            <td><span>{{item[0]}}</span></td>
            <td><a href="#" class="btn btn-danger btn-sm">Erase</a></td>
        </tr>
        {% endfor %}
        </table>

        <div class="container">
            <form class="form-inline" action="/add/{{list_id}}" method="POST" class="">
                <input type="text" placeholder="Item" name="todo" class="" />
                <input type="submit" class="btn btn-primary btn-sm" />
            </form>

            {% if not title %}
            <form class="form-inline" action="/settitle/{{list_id}}" method="POST">
                <input type="text" placeholder="Set title" name="title" class="" />
                <input type="submit" class="btn btn-sm" />
            </form>
            {% endif %}

            {% if password %}
            <form class="form-inline" action="/login" method="POST">
                <input type="text" placeholder="Passord" name="password" class="input" />
                <input type="submit" class="btn btn-sm" />
            </form>
            {% else %}
            <form class="form-inline" action="/setpassword/{{list_id}}" method="POST">
                <input type="text" placeholder="Set password" name="password" class="input" />
                <input type="submit" class="btn btn-sm" />
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
